<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bucket List</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="editForm">
            <h1>Editar una nota</h1>
            <form action="/<%=resultado.id%>/edit?_method=PUT" method="POST">
                <div>
                    <label for="">Título</label>
                    <input type="text" name="title" value="<%=resultado.title%> ">
                </div>
                <div>
                    <label for="text">Mensaje</label>
                    <textarea name="text" id="text" cols="30" rows="10"><%=resultado.text%></textarea>
                </div>
                <button type="submit">Editar</button>
            </form>
        </section>
    </main>

</body>
</html>